<html>
    <head>
    
    </head>
    <body>
        <nav>
            <a>Home</a>
            <a href="{% url 'liste_conferences'%}">conference</a>
            <a>Contact</a>
            {% if user.is_authenticated %}
            <a href="{% url 'list_submissions' %}">Mes soumissions</a>
            <a href="{% url 'add_submission' %}">Ajouter une soumission</a>
            <a> {{user.username}}</a>
            <a href="{% url 'logout' %}"> Logout</a>
            {% else %}

            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'register' %}">Inscription </a>
            {% endif %}
        </nav>
        {% block content %}
        
        {% endblock %}
        
        <footer>
            <p>Workshop 25/26 - Django 3AI2</p>
    </body>
</html>